
// =======================================================
// DASHBOARD
// =======================================================

@mixin sidebar-background {
    background-color: $main-color;
}

.dashboard-wrapper {
    display: flex;
}
.dashboard-sidebar {
    width: 400px;
    min-height: 100vh;
    @include sidebar-background();
    -webkit-box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);
    color: white;

    .user-image {
        width: 70px;
        background-color: white;
    }

    hr {
        margin-top: 0;
    }
}
.dashboard-content {
    width: 100%;
    padding: 100px 150px;

    .btn-solicitar {
        padding: 10px 30px !important;
        box-shadow: 3px 3px 0px #000000 !important;
    }
}

/**
 * Sidebar
 */

.dashboard-logo {
    padding: 10px 20px 3px;
    a {
        color: inherit;
    }
}
.dashboard-sidebar-divider {
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.dashboard-sidebar-items {
    list-style-type: none;
    padding: 0;
}
.dashboard-sidebar-item {
    a {
        i {
            text-align: center;
            margin-right: 14px;
            min-width: 20px;
        }
        color: white;
        padding: 10px 20px;
        display: block;
        position: relative;
        &::after {
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            background: #fff;
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        &:hover {
            &::after {
                width: 100%;
            }   
        }
    }
}