
// =======================================================
// GERAL
// =======================================================

body {
    font-family: $font-family-sans-serif !important;
    font-family: $font-lato !important;
    font-family: $font-oswald !important;
    font-family: $font-raj !important;
    font-family: $font-bitter !important;
    font-family: $font-roboto !important;
    font-family: $font-lora !important;
    font-family: $font-montserrat !important;
    font-family: $font-asap !important;
    font-family: $font-open-sans !important;
    font-family: $font-exo !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#app {
    min-height: 100vh;
}

// =======================================================
// MISCS
// =======================================================

.brand-logo {
    padding-top: 5rem;
    .brand-name {
        text-transform: uppercase;
        font-size: 1.4rem;
        vertical-align: middle;
        margin-left: 2px;
    }
    a {
        color: inherit;
        &:hover {
            opacity: 0.8;
        }
    }
}
.btn-main {
    background-color: $main-color-lighten-1 !important;
}


// =======================================================
// NAVBAR
// =======================================================

.navbar-brand {
    img {
        height: 42px;
    }
    span {
        text-transform: uppercase;
        font-size: 21px;      
        vertical-align: middle;
    }
}
#main-navbar {
    background-color: transparent;
}

// =======================================================
// LANDING PAGE
// =======================================================

$i: url(../img/background/main.png);
$g: linear-gradient(116.7deg, rgba(37, 130, 196, 0.65) 0%, rgba(37, 130, 196, 0) 100.8%);

#hero-section {
    padding-top: 9rem;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-image: $i, $g;
    background-size: 100% auto;
}

.landing-cta {
    padding: 0.40rem 0.80rem !important;
}