
// =======================================================
// GERAL
// =======================================================

body {
    font-family: $font-family-sans-serif !important;
    font-family: $font-lato !important;
    font-family: $font-oswald !important;
    font-family: $font-raj !important;
    font-family: $font-bitter !important;
    font-family: $font-roboto !important;
    font-family: $font-lora !important;
    font-family: $font-montserrat !important;
    font-family: $font-asap !important;
    font-family: $font-open-sans !important;
    font-family: $font-exo !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#app {
    min-height: 100vh;
}

// =======================================================
// MISCS
// =======================================================

.bg-main { background-color: $main-color; }
.bg-main.lighten-1 { background-color: $main-color-lighten-1; }
.bg-stylish-grey { background-color: $stylish-grey; }

.brand-logo {
    padding-top: 5rem;
    .brand-name {
        text-transform: uppercase;
        font-size: 1.4rem;
        vertical-align: middle;
        margin-left: 2px;
    }
    a {
        color: inherit;
        &:hover {
            opacity: 0.8;
        }
    }
}
.btn-main {
    background-color: $main-color-lighten-1 !important;
}
.cta-home {
	border-radius: 4px;
	border: 2px solid $main-color-lighten-1;
    color: white !important;
    display: inline-block;
    background: $main-color-lighten-1;
	overflow: hidden;
	padding: 16px 60px 16px 16px;
	position: relative;
	text-decoration: none;
	line-height: 1;
	.content {
		font-size: 1em;
		line-height: 1.2;
		padding: 0 26px;
		position: relative;
		right: 0;
		transition: right 300ms ease;
		display: block;
		text-align: left;
	}
	.icon {
		border-left: 2px solid white;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transition: all 300ms ease;
		transform: translateY(-50%);
		width: 58px;
		height: 70%;
		i {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $main-color;
		opacity: 0;
		transition: opacity 300ms ease;
	}
	&:hover {
		.content {
			right: 100%;
		}
		.icon {
			border-left: 0;
			font-size: 1.8em;
			width: 100%;
		}
		&:after {
			opacity: .2;
		}
    }
    &:active {
        box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171, 0 0 0 6px rgba(255,255,255,0.5) !important;
        outline: none !important;
        -webkit-transition: box-shadow 0.2s ease !important;
        -moz-transition: box-shadow 0.2s ease !important;
        transition: box-shadow 0.2s ease !important;
        background-color: $main-color;
    }
}


// =======================================================
// NAVBAR
// =======================================================

.navbar-brand {
    img {
        height: 42px;
    }
    span {
        text-transform: uppercase;
        font-size: 21px;      
        vertical-align: middle;
    }
    &:hover {
        color: $main-color !important;
    }
}
#main-navbar {
    background-color: transparent;
    padding-top: 3rem;
    box-shadow: none;
    padding-bottom: 6rem;
    .nav-link {
        background: linear-gradient(to bottom, $main-color-lighten-1 0%, $main-color-lighten-1 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 0px 0px;
        color: #000;
        text-decoration: none;
        transition: background-size .2s;
        &:hover {
            background-size: 4px 50px;
            color: white;
            opacity: 0.8;
        }
        margin-right: 5px;
        margin-left: 5px;
    }
}

// =======================================================
// LANDING PAGE
// =======================================================

$i: url(../img/background/main.png);
$g: linear-gradient(116.7deg, rgba(37, 130, 196, 0.65) 0%, rgba(37, 130, 196, 0) 100.8%);

#main-section {
    background-repeat: no-repeat;
    background-position: top;
    background-image: $i, $g;
    background-size: 100% auto;
}
#hero-section {
    min-height: 100vh;
}
#albums-section {
    min-height: 100vh;
}
#steps-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #F5F5F5;
}

#plans-section {
    padding-top: 4rem;
    padding-bottom: 7rem;
    h2 {
        padding-bottom: 4rem;
    }
}
.plans {
    display: flex;
    justify-content: center;
    height: 500px;
}
.plan-card {
    width: 18rem;
    align-self: flex-end;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 90px;
            margin-bottom: 0.5rem;
        }
    }
    .plan-price {
        font-weight: 500 !important;
    }
    .plan-description {
        text-align: center;
        width: 200px;
    }
    &:not(:last-of-type) {
        margin-right: 50px;
    }
    &:nth-of-type(2) {
        align-self: flex-start;
    }
    h4 {
        margin-top: 0.2rem;
        &:last-of-type {
            margin-bottom: 1rem;
        }
    }
}
.plan-deal {
    text-align: center;
    padding: 12px 0;
    background-color: $stylish-grey;
    color: white;
    font-size: 20px;
}

#start {
    background: $g;
    padding: 80px 0;
}